{% extends 'marco.html' %}

{% load static %}

{% block contenidoQueCambia %}
            <!-- Header-->
            <header class="bg-dark py-5" style="height: 80vh; margin: 0;">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-6 fw-bolder text-white mb-2">Ha reservado con exito. Te esperamos en Calle 123, Springfield, Buenos Aires<br>Reserva nro. {{ nro_turno }}</h1><br>
                                <p class="lead fw-normal text-white-50 mb-4">Hemos enviado los detalles de su reserva a su casilla e-mail.<br><br>Puede administrar su reserva ingresando a su cuenta.</p><br><br>
                                {% if user.is_authenticated %}  
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'vistauser' %}">Tu cuenta...</a><br><br><br>
                                {% else %}
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'login' %}">Iniciar sesión / Regístrarse</a>
                                {% endif %}   
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/vw-golf-r-05-1620312876.jpg" alt="..." /></div>
                    </div>
                </div>
            </header>

{% endblock contenidoQueCambia %}