{% extends 'marco.html' %}

{% load static %}

{% block contenidoQueCambia %}
            <!-- Header-->
            <header class="bg-white py-5" style="height: 100vh; margin: 0;">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <p class="lead fw-normal text-black-50 mb-4">Edita tus datos</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ miFormulario.as_p }}<br>
                                    Al cambiar su contraseña, su sesión finalizara.<br><br><br><br>
                                    <input type="submit" value="Actualizar">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

{% endblock contenidoQueCambia %}