{% extends 'marco.html' %}

{% load static %}

{% block contenidoQueCambia %}

<section class="py-5" id="features">
    {% comment %} <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/vw-golf-r-05-1620312876.jpg" alt="..." /></div> {% endcomment %}
    <div class="container px-5 my-5" style="height: 50vh; margin: 0;">
        <div class="row gx-5">
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-wrench"></i></div>
                        <h2 class="h5">Mantenimiento regular</h2>
                        <p class="mb-0">Ofrecemo un servicio de mantenimiento periódico completo para el cuidado de su vehículo.
                            En smartLube, nuestros técnicos se encargaran de revisar y reemplazar todos los componentes vitales del vehículo para que motor y transmisión estén en optimas condiciones. Nuestros servicio consta de:</p><br>
                        <ul class="mb-0">
                            <li>Cambios de filtros: Aire, combustible, aceite</li>
                            <li>Cambio de aceite de motor</li>
                            <li>Cambio de aceite de transmisión</li>
                            <li>Cambio de liquidos refrigerantes</li>
                            <li>Cambio de correa de accesorios (si corresponde)</li></ul><br><br>
                        <p class="mb-0">Precio servicio básico: ${{precio.precio_mantenimiento}}</p>            
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center"><img class="img-fluid rounded-3 my-5" src="https://lh5.googleusercontent.com/JXR0PQ3mSQIdDCWzQ3-qZWTw57ztJT3vDgPmED-TPkLadA7i_vjkymiL4v0TrjQO5lTgm4sDj-woc1SLYNMXEASpGZgRQ7sOvZKBmMOtxdBL47f1SB89iknboHgIZvCDjz3czsCf8c10YsBIjn8Uuy0" alt="..." /></div>
        </div>
    </div>
</section>
<style>
    img[src="https://lh5.googleusercontent.com/JXR0PQ3mSQIdDCWzQ3-qZWTw57ztJT3vDgPmED-TPkLadA7i_vjkymiL4v0TrjQO5lTgm4sDj-woc1SLYNMXEASpGZgRQ7sOvZKBmMOtxdBL47f1SB89iknboHgIZvCDjz3czsCf8c10YsBIjn8Uuy0"] {
        width: 400%; /* Ajusta el ancho de la imagen según tus preferencias */
        max-width: 500px; /* Ajusta el máximo ancho de la imagen según tus preferencias */
        margin-left: -300px; /* Ajusta el margen izquierdo de la imagen según tus preferencias */
}
</style>  

{% endblock contenidoQueCambia %}