{% extends 'marco.html' %}

{% load static %}

{% block contenidoQueCambia %}

<section class="py-5" id="features" style="height: 80vh; margin: 0;">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class=""><h2 class="fw-bolder mb-0">Somos confianza, somos smartLube</div><br><br><br><br>
                <p class="lead fw-normal text-grey-50 mb-4">Hace más de 10 años que ofrecemos la mejor atención de la zona.
                    En nuestra sucursal encontrarás técnicos y asesores certificados para brindarte el servicio que tu vehículo requiere para estar en óptimas condiciones, 
                    desde operaciones de mantenimiento como cambio de aceite y filtros, mecánica ligera, neumáticos, alineación, balanceo, lámparas, escobilla, batería, armortiguación y tren delantero.
                </p>
                <p class="lead fw-normal text-grey-50 mb-4">En nuestra pagína podrás acceder a un turno de manera rápida y sencilla para acceder a nuestros servicios, así como conocer todo lo que tenemos para ofrecerte.
                </p>
                <p class="lead fw-normal text-grey-50 mb-4">Comúnicate con nosotros mediante el canal que desees para ser asesorado por nuestros equipo de ventas
                </p>
            <div class="col-lg-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenidoQueCambia %}