{% extends 'marco.html' %}

{% load static %}

{% block contenidoQueCambia %}

<section class="py-5" id="features">
    <div class="container px-5 my-5" style="height: 50vh; margin: 0;">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Que servicios brindamos en smartLube?</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-wrench"></i></div>
                        <h2 class="h5">Mecánica ligera</h2>
                        <p class="mb-0">Realizamos tareas de ajustes y reparaciones de partes del vehículo que afectan el andar seguro y confortable.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-stopwatch"></i></div>
                        <h2 class="h5">Mantenimiento periódico</h2>
                        <p class="mb-0">Ofrecemos un completo servicio de mantenimiento periódico de su vehículo.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-droplet"></i></div>
                        <h2 class="h5">Lavado premium</h2>
                        <p class="mb-0">Limpiamos cada rincon tanto interior como exterior al detalle</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenidoQueCambia %}

