{% extends 'marco.html' %}

{% load static %}

{% block contenidoQueCambia %}
            <!-- Header-->
            <header class="bg-dark py-5" style="height: 80vh; margin: 0;">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-6 fw-bolder text-white mb-2">Bienvenido/a</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Detalle turno<br><br>
                                <strong>Nro. de reserva:</strong> {{ turno.id }}<br>
                                <strong>Fecha:</strong> {{ turno.fecha }}<br>
                                <strong>Nombre:</strong> {{ turno.nombre }}<br>
                                <strong>Apellido:</strong> {{ turno.apellido }}<br>
                                <strong>Email:</strong> {{ turno.email }}<br>
                                <strong>Teléfono:</strong> {{ turno.telefono }}<br>
                                <strong>Vehículo:</strong> {{ turno.vehiculo }}<br>
                                <strong>Comentario:</strong> {{ turno.comentario }}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

{% endblock contenidoQueCambia %}